<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="/src/js/main.js" defer></script>
    <title>Villa</title>
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper">
        <div class="site-header__inner">
          <div class="site-logo">Villa</div>
          <button aria-controls="primary-nav" aria-expanded="false">
            <span class="visually-hidden">Menu</span>
            <img
              src="/src/assets/hamburger-menu.svg"
              width="50"
              height="50"
              alt="menu"
            />
          </button>
          <nav id="primary-nav" class="primary-navigation">
            <ul role="list">
              <li><a href="/public/views/index.html">Home</a></li>
              <li><a href="/public/views/properties.html">Properties</a></li>
              <li>
                <a href="/public/views/single-property.html">Property Detail</a>
              </li>
              <li><a href="/public/views/contact.html">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <section class="section page-heading">
        <div class="wrapper flex-col-center flow-lg">
          <div class="mini-heading-title">
            <a href="/public/views/index.html">Home</a> / Contact Us
          </div>
          <h2 class="section-title heading-title">Contact Us</h2>
        </div>
      </section>

      <section class="section contact-page">
        <div class="wrapper flow">
          <div class="contact__inner grid-auto-fit">
            <div class="card flow-lg">
              <span class="mini-section-title">Contact Us</span>

              <h2 class="section-title">Get In Touch With Our Agents</h2>
              <p>
                When you really need to download free CSS templates, please
                remember our website TemplateMo. Also, tell your friends about
                our website. Thank you for visiting. There is a variety of
                Bootstrap HTML CSS templates on our website. If you need more
                information, please contact us.
              </p>
              <p>
                Swag fanny pack lyft blog twee. JOMO ethical copper mug,
                succulents typewriter shaman DIY kitsch twee taiyaki fixie hella
                venmo after messenger poutine next level humblebrag swag
                franzen.
              </p>
            </div>

            <div
              class="icon-card flex panel background-white shadow m-block-start-auto"
            >
              <img src="/src/assets/phone-icon.png" alt="" />
              <h4>
                010-020-0340
                <p>Phone Number</p>
              </h4>
            </div>
            <div
              class="icon-card flex panel background-white shadow m-block-start-auto"
            >
              <img src="/src/assets/email-icon.png" alt="" />
              <h4>
                info@villa.com
                <p>Business Email</p>
              </h4>
            </div>

            <div class="card contact-form panel background-white shadow flow">
              <div class="input-group">
                <label for="name">Full Name</label>
                <input type="text" name="name" placeholder="Your name" />
              </div>
              <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Your Email" />
              </div>
              <div class="input-group">
                <label for="subject">Subject</label>
                <input
                  type="text"
                  name="subject"
                  placeholder="What subject is?"
                />
              </div>
              <div class="input-group">
                <label for="message">Message</label>
                <textarea
                  name=""
                  id=""
                  cols="40"
                  rows="7"
                  placeholder="Message"
                ></textarea>
              </div>
              <button class="button" data-radius="xl">Send Message</button>
            </div>
          </div>
          <div class="card map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth"
              width="100%"
              height="500px"
              frameborder="0"
              style="
                border: 0;
                border-radius: 10px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
              "
              allowfullscreen=""
            ></iframe>
          </div>
        </div>
      </section>
    </main>
    <footer class="site-footer">
      <div class="wrapper" data-width="narrow">
        <p>
          Copyright © 2025 Villa Agency Co., Ltd. All rights reserved. Design:
          TemplateMo
        </p>
      </div>
    </footer>
  </body>
</html>
